<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
    (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Guido Volpi GH pages</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <a href="https://www.linkedin.com/in/guido-volpi-3034839" target="_blank">
      <mat-icon fontSet="fab" fontIcon="fa-linkedin-in" class="fa-2x" matBadgePosition="after" matBadgeColor="warn">
      </mat-icon>
    </a>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side">
    <div><a routerLink="/info">Info</a></div>
    <div><a routerLink="/covid19">Covid 19</a></div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>